In [2]:
import re
import os
import unittest
import numpy as np
import pandas as pd
import csv
import pdb

# Identifying Metadata with Regex
This script leverages the regular experession (regex) to identify metadata within the Thomas T. Eckert telegram collection.

In [ ]:
Load Corpus

## Load Metadata Resources
First, we will load resources we already have for identifying metadata. In this case, a csv of known people and locations.

In [4]:
path_to_people_file = "/Volumes/data_work/dcw_text_mining/metadata_id_resources/dcw_names.csv"
people = pd.read_csv(path_to_people_file)
people

,Given_Name,Middle_Name,Surnames,Controlled Term,Office_Rank
0,Joseph,NaN,Anderson,"Anderson, Joseph",USMT
1,Richard,Heron,Anderson,"Anderson, Richard Heron, 1821-1879.",General (Confederate)
2,John,A,Andrew,"Andrew, John A. (John Albion), 1818-1867.",Governor of Massachusetts
3,Frank,NaN,Armstrong,"Armstrong, Frank",USMT
4,Christopher,Columbus,Augur,"Augur, Christopher Columbus, 1821-1898.",General (Union)
...,...,...,...,...,...
384,John,Ellis,Wool,"Wool, John Ellis, 1784-1869.",General (Union)
385,George,NaN,Wright,"Wright, George, 1803-1865.",NaN
386,Horatio,Gouverneur,Wright,"Wright, Horatio Gouverneur, 1820-1899.",NaN
387,J,B,Yates,"Yates, J. B.",USMT
388,Richard,NaN,Yates,"Yates, Richard, 1815-1873.",Governor of Illinois